.footer{
    background-color: rgb(53, 20, 236);
    color: beige;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .navbar .titulo{
       text-align: center;
       margin-left: 25%;
       font-family: Georgia;
       color: beige;
    }

    .navbar .nomedosite{
        margin-left: 20%;
        color: beige;
    }
    .navbar {
    background-color: rgb(53, 20, 236);
    min-height: 70px;
    display: flex;
    align-items: center;
    }
    .navbar a {
    color: beige;
    margin-left: 1em;
    text-decoration: none;
    transition: .3s;
    float: left;
    }
    .navbar a:hover{
    color: black
    } 
    